#ifndef SECRETS_H
#define SECRETS_H

#define MQTT_HOST       "192.168.1.92"
#define MQTT_PORT       1883
#define MQTT_USER       "esp"
#define MQTT_PASS       "CHANGEME"
#define MQTT_TOPIC      "termo/home/rastishka/status"

#endif
